body {
    background: url('../import/backgrown2.png') no-repeat center center;
    background-size: cover; 
    min-height: 100vh;
    margin: 0; 
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    display: block;
}

.logo {
    position: fixed;
    top: 20px;
    left: 60px;
    width: 70px;          /* ปรับขนาดโลโก้ */
    cursor: pointer;
    z-index: 1000;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* เมื่อเอาเมาส์ไปแตะ */
.logo:hover {
    transform: translateX(10px) scale(1.05); /* ขยับ + ขยาย */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}